{% extends 'base.html' %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Articles</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Recent Articles
        </div>
        <div class="card-body">
            <table id="datatablesSimple" class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Feed</th>
                        <th>Title</th>
                        <th>Published</th>
                        <!-- <th>Content</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>{{ article.entry_id }}</td>
                        <td>{{ article.feed_id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.published }}</td>
                        <!-- <td>{{ article.content }}</td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
